#canvas1 {
  border: 2px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  /* height: 70vh; */
  height: 600px;
  width: 600px;
  /* width: 70vw; */
  translate: -50% -50%;
  z-index: 1;
}
.controls {
  /* background: red; */
  position: absolute;
  top: 50px;
  left: 50%;
  translate: -50% 0;
  z-index: 10;
}
.controls, select, option{
  font-size: 20px;
}
