body {
  /* background-color: aqua; */
}
#dogge {
  position: absolute;
  /* background-color: greenyellow; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* border: 2px solid black; */
  border-radius: 1.5rem;
  box-sizing: 0 0 40px 40px black;
}
