* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas1 {
  border: 5px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  max-width: 100%;
  max-height: 100%;
  font-family: "Creepster", "Bangers", cursive;
  z-index: 1;
}

.btn {
  position: absolute;
  top: 5%;
  left: 50%;
  height: 2rem;
  width: 6rem;
  background: rgba(0, 0, 0, 0.207);
  border-radius: 20px;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.112);
  cursor: pointer;
  transform: translate(-50%);
  transition: 0.4s all;
  overflow: hidden;
  display: none;
}
.btn:hover {
  scale: 1.03;
}
.btn::before {
  content: " ";
  position: absolute;
  background: linear-gradient(30deg, red, blue);
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  border-radius: 20px;
  z-index: -1;
  transition: 0.5s;
}
.btn:hover::before {
  left: 0;
}
#Replay {
  transform: translate(-100%);
}
#fullScr {
  transform: translate(50%);
}
body {
  margin: 0;
  background-color: #0c0b0b;
}

#butDiv {
  width: 35em;
  margin: 3em auto;
  z-index: -1;
}

.button-main {
  cursor: pointer;
  width: 5em;
  height: 5em;
  background-color: #999;
  background-image: linear-gradient(180deg, #ccc, #999);
  border-top: 3px solid #ccc;
  border-right: 3px solid #ccc;
  border-left: 4px solid #666;
  border-bottom: 4px solid #666;
  border-radius: 1em;
  float: left;
  margin: 1em;
  text-decoration: none;
  transform: translateY(-50%);
  box-shadow: -0.1em 0.1em 0 #000, -0.2em 0.2em 0 #000, -0.3em 0.3em 0 #000,
    -0.2em 0.2em 0 #333, -0.3em 0.3em 0 #333, -0.6em 0.6em 0 #333;

  transition: box-shadow 0.3s, border-top 0.3s, border-right 0.3s;
}

.button-main:hover,
.button-main:focus {
  box-shadow: 0.1em -0.1em 0 #333, 0.2em -0.2em 0 #333, -0.1em 0.1em 0 #333,
    -0.2em 0.2em 0 #333, -0.3em 0.3em 0 #333, inset -0.1em -0.1em 2em #fff,
    -0.1em -0.1em 2em #666;
  border-top: 3px solid #666;
  border-right: 3px solid #666;
}

.button-inside {
  width: 4em;
  height: 4em;
  margin: 0.5em auto;
  border-radius: 0.8em;
  background-color: #ccc;
  background-image: linear-gradient(45deg, #ccc, #999);
  box-shadow: inset -0.15em 0.15em 0 #666, inset 0.1em -0.1em 0 #ccc;
}

h1 {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 3em;
  color: #f2f2f2;
  text-align: center;
  line-height: 1.3em;
  margin: 0 auto;
  text-shadow: -0.01em 0.01em 0 #666, -0.02em 0.02em 0 #666,
    -0.03em 0.03em 0 #666, -0.04em 0.04em 0 #666, -0.05em 0.05em 0 #666,
    -0.06em 0.06em 0 #999, -0.07em 0.07em 0 #999, -0.08em 0.08em 0 #999,
    -0.09em 0.09em 0 #999, -0.1em 0.1em 0 #999, -0.11em 0.11em 0 #999;
}

.game-movement {
  position: absolute;
  left: 0%;
  top: 50%;
}
.btn-upper {
  position: absolute;
  left: calc(0% + 7rem);
  transform: translateY(-180%);
}
.btn-lower {
  position: absolute;
  left: calc(0% + 7rem);
  transform: translate(-30%, 100%);
  width: 14rem;
  text-align: center;
}
.game-features-btn{
  position: absolute;
  right: 0%;
  top: 50%;
}