body {
  background-color: black;
}
#sceneCanvas {
  position: absolute;
  border: 3px solid white;
  width: 300px;
  height: 700px;
  width: 800px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.container {
  z-index: 100;
  position: absolute;
}
.container p {
  color: red;
  margin: 25px;
  font-size: 1.5rem;
}
.container input {
  margin-top: 0;
  margin-left: 25px;
  color: blue;
  width: 25rem;
}
