body {
  /* background: linear-gradient(to bottom, red, green, blue); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#collisionCanvas {
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid black;
  z-index: 200;
  /* background: red; */
  opacity: 0;
}

#shootGame {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 2px solid black;
  z-index: 200;
  /* background: yellow; */
  /* background: green; */
  font-weight: bold;
  /* font-size: 45px; */
}

body {
  cursor: url("../assets/raven.png");
}
